import java.util.Iterator;

public class SimpleArray<E> implements Simple<E>{
	
	public static void main(String[] args) {
		Simple<String> strings = new SimpleArray<>();
		strings.add("first");
		strings.add("second");
		strings.add("third");
		strings.add("forth");
		
		for (String s : strings) {
			System.out.println(s);
		}
		
		System.out.println(strings.get(1));
		System.out.println(strings.size());
	
	if (strings.contains("forth")){
		System.out.println("strings contains forth as good");
	} else {
		System.out.println("strings doesn't contains forth");
		}
	}
	
	private E[] values;
	
	@SuppressWarnings("unchecked")
	public SimpleArray(){
		values = (E[]) new Object[0];
		
	}

	@Override
	public Iterator<E> iterator() {
				return new ArrayIterator<>(values);
	}

	@SuppressWarnings("unchecked")
	@Override
	public boolean add(E e) {
		try {
		      E[] temp = values;
		      values = (E[]) new Object[temp.length + 1];
		      System.arraycopy(temp, 0, values, 0, temp.length); // (откуда копируем, с какого эл-та копируем, куда копируем, сколько всего эл-тов хотим скопировать)
		      values [values.length - 1] = e;
				return true;
	} catch (ClassCastException ex) {
		ex.printStackTrace();
	}
		return false;
}

	public E get(int index) {
				return values[index];
	}

	public int size() {
				return values.length;
	}

	public boolean contains(String string) {
	return false;
	}

}
